.bodycontent {
    padding-bottom: 30px;
    padding-left:15px;
    padding-right:15px;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
}
div{
    border:0;
}
.menu_wrapper {
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
}
.cart_product, .bill_info, .header_rows, .rows {
    border:1px solid #d4d4d4;
}
.cart_product {
    width: 60%;
    float: left;
    text-align: left;
    border: 0px;
}

.bill_info {
    width: 40%;
    float: left;
    text-align: left;
    padding-left: 10px;
    border: 0px;
}

.title {
    font-size: 15pt;
    margin-top: 20px;
}

.bill_info table {
    width: 100%;
}

    .bill_info table td input[type="text"] {
        background-color: #f0f0f0;
        outline: none;
        border: 1px solid #bababa;
        padding: 10px;
        width: 100%;
    }

        .bill_info table td textarea {
            width: 100%;
            background-color: #f0f0f0;
            outline: none;
            border: 1px solid #bababa;
            padding: 10px;
            height: 50px;
            resize: none;
        }

        div.bill_info table td {
            padding-top: 15px;
            font-size: 11pt;
        }

    .bill_info button {
        width: calc((100% - 5px)/2);
        float: left;
        padding-bottom: 15px;
        padding-top: 15px;
        color: #fff;
        border: none;
        font-weight: bold;
        margin-top: 10px;
        transition: 0.2s;
    }

.CODpayment {
    margin-right: 5px;
    background: -webkit-linear-gradient(top,#288ad6,#0e74c2);
}
.CODpayment:hover {
    background: -webkit-linear-gradient(top,#0e74c2,#288ad6);
}
.ONLpayment {
    background: -webkit-linear-gradient(top,#990000,#660000);
}
.ONLpayment:hover {
    background: -webkit-linear-gradient(top,#660000,#990000);
}

.red {
    color: #990000;
    font-size: 11pt;
}

.header_rows, .rows {
    display: flex;
}

.header_rows {
    margin-top: 20px;
    border-radius: 10px 10px 0 0;
}

    .header_rows label {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
        margin-top: 10px;
    }

.rows {
    border-top: 0px;
    padding: 10px;
    text-align: left;
    align-items: center;
}

    .rows img {
        width: 75px;
        height:123px;
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
    }

    .rows label {
        margin: 0;
    }

.remove {
    width: 50px;
    margin: 0;
    text-align: right;
}

.name {
    width: 200px;
    padding-right: 10px;
    margin: 0;
    font-size: 9pt;
}

.price {
    width: 115px;
    padding-right: 10px;
}

    .quantity{
        border: 1px solid #d4d4d4;
        width: 50px;
        margin:0;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 8px;
        padding-top: 8px;
    }
.totalPrice {
    text-align: right;
    width: 120px;
    padding-left:10px;
    color: #990000;
}
.buy_more {
    display:block;
    background-color: #288ad6;
    font-weight:bold;
    margin-top:20px;
    font-size:8pt;
    color:#fff;
    width:125px;
    border-radius:30px;
    padding:12px;
    text-align:center;
}
.buy_more:hover {
    background-color: #0e74c2;
    color:#fff;
}
.cart_row{
    border:0px;
}
.updateCart_totalPrice{
    border:0;
    display:flex;
    align-items:center;
    text-align:left;
    margin-top:15px;
}
.updateCart_totalPrice button{
    background-color: #fff;
    font-size: 8pt;
    color: #990000;
    border: 1px solid #d4d4d4;
    margin:0;
    width:150px;
    border-radius: 30px;
    padding: 12px;
    outline:none;
    transition: 0.2s;
}
.updateCart_totalPrice  button:hover{
    background-color: #d4d4d4;
}
.updateCart_totalPrice p{
    margin:0;
    text-align:right;
    width:calc(100% - 150px);
    font-size: 14pt;
    padding-right: 10px;
}
.updateCart_totalPrice span{
    color: #990000;
    font-size:14pt;
}

@media screen and (max-width:900px) {
    .cart_product{
        width:100%;
    }
    .bill_info{
        width:100%;
    }
}