
.product {
    text-align: left;
    width: 180px;
    height: 365px;
    transition: all .3s ease 0s;
    padding: 0;
    background-color: #d7d7d7;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 15px;
    margin-right: 0px;
}

    .product:hover {
        transform: scale(1.05);
    }

    .product a:hover {
        color: #a6510c;
    }

    .product p {
        font-weight: bold;
        min-height: 30px;
        font-size: 9pt;
        margin: 7px;
    }

    .product img {
        width: 100%;
    }

    .product h6 {
        font-weight: bold;
        margin: 7px;
        color: #990000;
    }

@media screen and (max-width:900px) {
    .product {
        margin: 10px ;
        width: 140px;
        height:300px;
    }
}
